<form id="form-create-user" {{action create on="submit"}}>
  <h2>Create new user</h2>
  {{input value=username type="text" placeholder="Username"}} <br />
  {{input value=password type="password" placeholder="Password"}} <br />
  {{input value=email type="text" placeholder="E-mail"}} <br />
  {{input class="btn" type="submit" value="Create new user"}}
</form>
